<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="homepage()" >Accounts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav-continer">

      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="!loading else loadingAccounts">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let account of accounts">
            <a class="nav-link active" aria-current="page" id="{{account.id}}" (click)="onNameClick(account.username, account.id)">{{account.username}}</a>
          </li>
        </ul>
      </div>
     
      <ng-template #loadingAccounts>
        <p>loading</p>
      </ng-template>

    </div>
      
  </div>
</nav>

<app-account-details 
*ngIf="accountView && !loading"
[userName]="accountViewUserName"
[userID]="currentUserID">
</app-account-details>

<div class="transactions"
*ngIf="!accountView">
  <h2>List Of Transactions</h2>
  <div *ngFor="let transaction of transactions">
    <ul>
      <li>{{transaction}}</li>
    </ul>
  </div>
</div>
